@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
}

.watsapp-img {
  width: 39px !important;
  height: 33px !important;
}

.img-thumbnail {
  height: 100% !important;
}

.home-prodlist-img {
  height: 300px;
  width: 300px;
}

.profile-img {
  width: 20px;
  height: 20px;
}

ul {
  list-style: none !important;
}

.jumbotron {
  padding: 2rem 2rem !important;
  margin-bottom: 1rem !important;
}
